* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 576px;
	margin: 0 auto;
	padding: 30px 30px;
}

ul{
	list-style: none;
}

.d-flex{
	display: flex;
}

.hide{
	display: none;
}

/* Header */
header{
	background-color: #0084fd;
	height: 80px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	max-width: 576px;
	margin: 0 auto;
	padding: 0 30px;
}
.all-header{
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
}
.header-right ul > li{
    display: inline-block;
}

.header-right i{
	color: white;
}

.mar-top100{
	margin-top: 100px;
}
/* FIRST SECTION */

.card{
	min-height: 600px;
	background-color: #b5ddff ;
	border-radius: 50px;
	margin-bottom: 20px;
	
}

.card img{
	width: 100%;
	display: block;
}

/* SECOND SECTION */
.secondsection{
	background-color: #9792e4 ;
}
.secondsection .card{
	background-color: #fff;
}

