* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 576px;
	margin: 0 auto;
	padding: 0px 30px;
}

ul{
	list-style: none;
}

.d-flex{
	display: flex;
}

.hide{
	display: none;
}

header{
	background-color: #0084fd;
	height: 80px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;

}
.all-header{
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
}
.header-right ul > li{
    display: inline-block;
}

.header-right i{
	color: white;
}

.mar-top80{
	margin-top: 80px;
}

.card{
	height: 400px;
	
	background-color: #b5ddff ;
	border-radius: 10px;
	margin-bottom: 20px;
	
}

.card img{
	width: 100%;
	display: block;
}

.secondsection{
	background-color: #9792e4 ;
}
.secondsection .card{
	background-color: #fff;
}

.benefit{
	background-color: #9792e4;
}

.get-started{
	background-color: #9792e4;
}

.all-footer{
	background-color: #222;
	min-height: 500px;
	color: white;
}

.row{
	padding: 50px 0;
}
/* RESPONSIVE LAYOUTS */

@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
	}
	.firstsection .row{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 20px;
	}
	.largercard{
		width: calc(66.6% - 10px);
	}

	.smallercard{
		width: calc(33.3% - 10px);
	}

	.regularcard{
		width: calc(33.3% - 20px);
	}
}

@media screen and (min-width: 992px){
	.container{
		max-width: 992px;
	}

}